<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<title>Добавить новую книгу</title>
</head>
<body>

<form th:method="POST" th:action="@{/books}" th:object="${book}">
	<label for="title">Введите название книги: </label>
	<input type="text" th:field="*{title}" id="title"/>
	<div style="color:red"
	     th:if="${#fields.hasErrors('title')}"
	     th:errors="*{title}">Name Error</div>
	<br/>
	<label for="author">Введите полное имя автора: </label>
	<input type="text" th:field="*{author}" id="author"/>
	<div style="color:red"
	     th:if="${#fields.hasErrors('author')}"
	     th:errors="*{author}">Age Error</div>
	<br/>
	<label for="bookYear">Введите год публикации: </label>
	<input type="text" th:field="*{bookYear}" id="bookYear"/>
	<div style="color:red"
		 th:if="${#fields.hasErrors('bookYear')}"
		 th:errors="*{bookYear}">Age Error</div>
	<br/>
	<input type="submit" value="Добавить книгу"/>
</form>

</body>
</html>